In [28]:
import pandas as pd
df = pd.read_csv("../FoodBalanceSheets_E_All_Data.csv")
subset = df.copy()

In [29]:
import numpy as np

y2010 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2010"]]
y2010 = y2010.assign(Year = "2010")
y2011 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2011"]]
y2011 = y2011.assign(Year = "2011")
y2012 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2012"]]
y2012 = y2012.assign(Year = "2012")
y2013 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2013"]]
y2013 = y2013.assign(Year = "2013")
y2014 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2014"]]
y2014 = y2014.assign(Year = "2014")
y2015 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2015"]]
y2015 = y2015.assign(Year = "2015")
y2016 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2016"]]
y2016 = y2016.assign(Year = "2016")
y2017 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2017"]]
y2017 = y2017.assign(Year = "2017")
y2018 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2018"]]
y2018 = y2018.assign(Year = "2018")
y2019 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2019"]]
y2019 = y2019.assign(Year = "2019")
y2020 = subset[["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Y2020"]]
y2020 = y2020.assign(Year = "2020")

all_years = pd.DataFrame(np.vstack([y2010.values, y2011.values, y2012.values, y2013.values, y2014.values, y2015.values, y2016.values, y2017.values, y2018.values, y2019.values, y2020.values]),
                         columns=["Area Code", "Area Code (M49)", "Area", "Item Code", "Item Code (CPC)", "Item", "Element Code", "Element", "Unit", "Value", "Year"])

In [30]:
item_totals = all_years[(all_years["Item Code"] >= 2902) & (all_years["Item Code"] < 3000)]

In [31]:
agged = item_totals[(item_totals["Unit"] == "1000 tonnes")].groupby(["Area Code", "Area Code (M49)", "Area", "Item Code", "Element", "Year", "Unit"]).Value.agg("sum").reset_index()

In [32]:
agged["Area Code (M49)"] = agged["Area Code (M49)"].str[1:]

In [33]:
agged

,Area Code,Area Code (M49),Area,Item Code,Element,Year,Unit,Value
0,1,051,Armenia,2905,Domestic supply quantity,2010,1000 tonnes,782.0
1,1,051,Armenia,2905,Domestic supply quantity,2011,1000 tonnes,828.0
2,1,051,Armenia,2905,Domestic supply quantity,2012,1000 tonnes,857.0
3,1,051,Armenia,2905,Domestic supply quantity,2013,1000 tonnes,916.0
4,1,051,Armenia,2905,Domestic supply quantity,2014,1000 tonnes,936.0
...,...,...,...,...,...,...,...,...
484534,5817,902,Net Food Importing Developing Countries,2961,Production,2016,1000 tonnes,195.51
484535,5817,902,Net Food Importing Developing Countries,2961,Production,2017,1000 tonnes,191.48
484536,5817,902,Net Food Importing Developing Countries,2961,Production,2018,1000 tonnes,197.65
484537,5817,902,Net Food Importing Developing Countries,2961,Production,2019,1000 tonnes,200.9
484538,5817,902,Net Food Importing Developing Countries,2961,Production,2020,1000 tonnes,200.9

In [34]:
agged.to_csv("aggregated_elements.csv", index=False)